@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #060447;
    color: #FFF38A;
    margin: 0;
    display: flex;
    flex-direction: column;   
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.main {
    position: relative;
    width: 70%;
    margin: 100px auto;
}

.main-text__logo {
    height: 80px;
    width: 80px;
}

.main-text__tittle {
    font-weight: 900;
    font-size: 35px;
    margin: 20px 0 20px 50px;
}

.main-text__paragraph {
    font-size: 18px;
    line-height: 30px;
    width: 422px;
    height: 90px;
}

.main-text * {
    margin-left: 100px;
}

/* Style on the three mains blocks */
.main-text {
    width: 100%;
}

.attach {
    position: absolute;
    width: 530px;
    height: 822.59px;
    left: 880px;
    top: -1rem;
    display: flex;
}

.movie-switcher {
    display: flex;
    margin: 50px 150px 0 150px;
    justify-content: flex-start;
}

/* ------------------------------ */
.attach {
    overflow: hidden;
    width: 350px;
    height: 504px;
}

.attach img {
    width: 352px;
    height: 504px;
    position: relative;
}

.release-year {
    display: flex;
    width: 400px;
    height: 130px;
    margin-top: 130px;
}

.release-year__number {
    margin: 0 10px;
}

.arrow {
    cursor: pointer;
    width: 35;
    height: 22px;
    align-self: center;
}

.right:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.left:hover {
    transform: scale(1.1) rotate(180deg);
    transition: 0.2s;
}

.right {
    margin-right: 230px;
}

.left {
    transform: rotate(180deg);
    margin-right: 50px;
}

.sphere {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #827B68;
}

.link-lines {
    height: 2.5px;
    width: 150px;
    background-color:#827B68;
    position: relative;
    top: 15px;
}

.charging-bar {
    width: 0;
    height: inherit;
    transition: 0.4s;
    background-color: #FFF38A;
}

.charged-bar {
    width: 100%;
}

.attach__posters {
    position: relative;
    display: flex;
}

.bright-sphere {
    background-color: #FFF38A;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    border: solid 2px #827B68;
}
