body{
    background-color: #060447;
    color: #FFF38A;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
.logo{
    height: 80px;
    width: 80px;
}
.tittle{
    font-weight: 700;
    font-size: 40px;
}
.paragraph{
    font-size: 20px;
    line-height: 30px;
    width: 422px;
    height: 90px;
}
.release-year{
    width: 490px;
    height: 169px;
}
.attach{
    z-index: 0;
    position: absolute;
    width: 530px;
    height: 822.59px;
    left: 781px;
    top: 119px;
}
.movie-switcher{
    z-index: 1;
    display: flex;
}
.arrow{}
.left{
    transform: rotate(180deg);
}
.chip{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #FFF38A;
}
.linking-line{
    height: 2px;
    width: 150px;
    background-color: #FFF38A;
    position: relative;
    top: 15px;
}